
/* Move your styles here when you're ready to clean up your HTML file */
html {font-size:20px}

h1,h2 {font-family:Arial,sans-serif;}

header {border-bottom: 10px solid black}

.class-list {list-style: square;}

.item {border: 10px solid blue}

.even {background-color: grey}

.odd {background-color: black;color: white}

#item1 {font-size: 30px;}
#item2 {text-align: right;}

article li {padding: 5px; background-color: grey}

article li li {background-color: white; padding: 0}

li:nth-child(2n+1) {background-color: green}

a[title]:hover {text-decoration:none;}

li>a:hover {background-color: yellow}
li>a:active{background-color: red; color: black}
